RewriteEngine On
RewriteRule ^home$ index.php?page=home [L,NC,QSA]
RewriteRule ^api$ api.php [L,NC,QSA]
RewriteRule ^api/gallery$ gallery_api.php [L,NC,QSA]
RewriteRule ^about$ about.php [L,NC,QSA]
RewriteRule ^privacy$ privacy.php [L,NC,QSA]

