/* Обнуляемся :) */

body {
  padding: 0;
  margin: 0;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Navigation */

ul > li {
  display: inline-block;
  padding: 5px;
}

li {
  font-size: large;
}

li:hover {
  color: blue;
  font-style: italic;
}

/* Utils */

.utils {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.utils-item {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

/* Gallery */

.gallery {
  display: inline-block;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

article {
  width: 30%;
  margin: 10px;
  padding: 5px;
}

article:hover {
  transition: 150ms;
  cursor: pointer;
  box-shadow: 30px -16px rgba(0, 0, 0, 0.5);
}

article img {
  max-width: 33.333333%;
  max-height: 33.33333%;
}
